In [110]:
# !pip install folium
# !pip install python-dotenv
#import folium
import numpy as np
import pandas as pd
import os
dataset_dir='../FilesCSVFormat/'

In [111]:
artists = pd.read_csv(dataset_dir+'Artist.csv')
artists_pictures = pd.read_csv(dataset_dir+'ArtistPicture.csv')
artworks = pd.read_csv(dataset_dir+'Artwork.csv')
artworks_date=pd.merge(artworks,artists[['id','name','birthdate','deathdate']], how='left', left_on=['artist'], right_on=['id'])

In [112]:
artists

,id,name,url,summary,picture,birthplace,deathplace,birthdate,deathdate,cause_of_death
0,0,Vincent Van Gogh,http://wikigallery.org/wiki/artist36933/Vincen...,Vincent Willem van Gogh (Dutch: [ˈvɪnsɛnt ˈʋɪl...,0.0,0.0,342.0,1853-03-30,1890-07-29,Gunshot wound
1,1,Pierre Auguste Renoir,http://wikigallery.org/wiki/artist39254/Pierre...,Pierre-Auguste Renoir (French: [pjɛʁ oɡyst ʁən...,1.0,1.0,343.0,1841-02-25,1919-12-03,NaN
2,2,Claude Oscar Monet,http://wikigallery.org/wiki/artist39249/Claude...,"Oscar-Claude Monet (UK: , US: , French: [klod ...",2.0,2.0,344.0,1840-11-14,1926-12-05,NaN
3,3,Fernando Botero,http://wikigallery.org/wiki/artist37052/Fernan...,Fernando Botero Angulo (born 19 April 1932) is...,3.0,3.0,NaN,1932-04-19,NaN,NaN
4,4,Jean-Léon Gérôme,http://wikigallery.org/wiki/artist46453/Jean-L...,Jean-Léon Gérôme (11 May 1824 – 10 January 190...,4.0,4.0,2.0,1824-05-11,1904-01-10,NaN
...,...,...,...,...,...,...,...,...,...,...
611,611,Carlo Cignani,https://www.wikigallery.org/wiki/artist39141/C...,Carlo Cignani (15 May 1628 – 8 September 1719)...,611.0,NaN,NaN,1628-05-15,1719-09-08,NaN
612,612,Utagawa Toyohiro,https://www.wikigallery.org/wiki/artist55120/U...,"Utagawa Toyohiro (歌川豊広, 歌川豐廣), birth name Okaj...",NaN,NaN,NaN,NaN,NaN,NaN
613,613,Tobias van Haecht,https://www.wikigallery.org/wiki/artist34380/T...,Willem van Haecht (1593 – 12 July 1637) was a ...,NaN,NaN,NaN,NaN,NaN,NaN
614,614,Adam van Noort,https://www.wikigallery.org/wiki/artist56390/A...,Adam van Noort (1561/62 – 1641) was a Flemish ...,NaN,NaN,NaN,NaN,NaN,NaN
615,615,Otto van Veen,https://www.wikigallery.org/wiki/artist35826/O...,"Otto van Veen, also known by his Latinized nam...",615.0,5.0,64.0,NaN,1629-05-06,NaN

In [99]:

#artists_pictures

In [113]:
def fto_datetime(date_string):
    try:
        year = date_string[0:4]
        #month = int(date_string[5:7])
        #day = int(date_string[8:10])
        return int(year)
    except:
        return np.NaN

artworks_date['good_year'] = artworks_date['birthdate'].apply(lambda x: fto_datetime(x))

In [114]:
def add_25years(date_int):
    try:
        x = date_int + 25
        return int(x)
    except:
        return np.NaN

artworks_date['good_year'] = artworks_date['good_year'].apply(lambda x: add_25years(x))

In [115]:
artworks_date

,id_x,name_x,url,image_url,artist,rating,summary,year,medium,location,id_y,name_y,birthdate,deathdate,good_year
0,0,Cafe Terrace on the Place du Forum,http://wikigallery.org/wiki/painting_133032/Vi...,https://kuleuven-datathon-2023.s3.eu-central-1...,0,8.0,Café Terrace at Night is an 1888 oil painting ...,1888.0,0.0,Kröller-Müller Museum,0,Vincent Van Gogh,1853-03-30,1890-07-29,1878.0
1,1,Starry Night,http://wikigallery.org/wiki/painting_9698/Vinc...,https://kuleuven-datathon-2023.s3.eu-central-1...,0,9.0,NaN,NaN,NaN,NaN,0,Vincent Van Gogh,1853-03-30,1890-07-29,1878.0
2,2,A Digger,http://wikigallery.org/wiki/painting_132953/Vi...,https://kuleuven-datathon-2023.s3.eu-central-1...,0,7.0,NaN,NaN,NaN,NaN,0,Vincent Van Gogh,1853-03-30,1890-07-29,1878.0
3,3,A Group of Cottages,http://wikigallery.org/wiki/painting_132642/Vi...,https://kuleuven-datathon-2023.s3.eu-central-1...,0,6.0,Stoneywell is a National Trust property in Ulv...,NaN,NaN,NaN,0,Vincent Van Gogh,1853-03-30,1890-07-29,1878.0
4,4,A Pair of Shoes,http://wikigallery.org/wiki/painting_94630/Vin...,https://kuleuven-datathon-2023.s3.eu-central-1...,0,8.0,Toms (stylized as TOMS) is a for-profit compan...,NaN,NaN,NaN,0,Vincent Van Gogh,1853-03-30,1890-07-29,1878.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10512,10515,Distribution of Herring and White Bread during...,http://wikigallery.org/wiki/painting_300071/Ot...,https://kuleuven-datathon-2023.s3.eu-central-1...,615,NaN,The List of painters in the Web Gallery of Art...,NaN,NaN,NaN,615,Otto van Veen,NaN,1629-05-06,NaN
10513,10516,"The Artist Painting, Surrounded by his Family",http://wikigallery.org/wiki/painting_300070/Ot...,https://kuleuven-datathon-2023.s3.eu-central-1...,615,NaN,Charles IV of Spain and His Family is an oil-o...,NaN,0.0,Museo del Prado,615,Otto van Veen,NaN,1629-05-06,NaN
10514,10517,Hercules seated at the foot of a tree in a lan...,http://wikigallery.org/wiki/painting_285809/Ot...,https://kuleuven-datathon-2023.s3.eu-central-1...,615,NaN,The Italian Renaissance garden was a new style...,NaN,NaN,NaN,615,Otto van Veen,NaN,1629-05-06,NaN
10515,10518,St. Matthew Bringing Back To Life The Son Of T...,http://wikigallery.org/wiki/painting_368500/Ot...,https://kuleuven-datathon-2023.s3.eu-central-1...,615,NaN,Ethiopia is one of the oldest countries in Afr...,NaN,NaN,NaN,615,Otto van Veen,NaN,1629-05-06,NaN
10516,10519,The Four Fathers Of The Church,http://wikigallery.org/wiki/painting_378600/Ot...,https://kuleuven-datathon-2023.s3.eu-central-1...,615,NaN,"The Church Fathers, Early Church Fathers, Chri...",NaN,NaN,NaN,615,Otto van Veen,NaN,1629-05-06,NaN

In [116]:
#delete the old year column and rename columns
artworks_date.drop('year',axis=1,inplace=True)
artworks_date.drop('artist',axis=1,inplace=True)
artworks_date.drop('medium',axis=1,inplace=True)
artworks_date.drop('location',axis=1,inplace=True)
artworks_date.drop('rating',axis=1,inplace=True)
artworks_date.rename({'id_x': 'artwork_id', 'id_y':'artist_id', 'good_year': 'year','name_y':'name','birthdate':'start_date','deathdate':'end_date' }, inplace=True, errors="raise",axis=1)

In [117]:
artworks_date

,artwork_id,name_x,url,image_url,summary,artist_id,name,start_date,end_date,year
0,0,Cafe Terrace on the Place du Forum,http://wikigallery.org/wiki/painting_133032/Vi...,https://kuleuven-datathon-2023.s3.eu-central-1...,Café Terrace at Night is an 1888 oil painting ...,0,Vincent Van Gogh,1853-03-30,1890-07-29,1878.0
1,1,Starry Night,http://wikigallery.org/wiki/painting_9698/Vinc...,https://kuleuven-datathon-2023.s3.eu-central-1...,NaN,0,Vincent Van Gogh,1853-03-30,1890-07-29,1878.0
2,2,A Digger,http://wikigallery.org/wiki/painting_132953/Vi...,https://kuleuven-datathon-2023.s3.eu-central-1...,NaN,0,Vincent Van Gogh,1853-03-30,1890-07-29,1878.0
3,3,A Group of Cottages,http://wikigallery.org/wiki/painting_132642/Vi...,https://kuleuven-datathon-2023.s3.eu-central-1...,Stoneywell is a National Trust property in Ulv...,0,Vincent Van Gogh,1853-03-30,1890-07-29,1878.0
4,4,A Pair of Shoes,http://wikigallery.org/wiki/painting_94630/Vin...,https://kuleuven-datathon-2023.s3.eu-central-1...,Toms (stylized as TOMS) is a for-profit compan...,0,Vincent Van Gogh,1853-03-30,1890-07-29,1878.0
...,...,...,...,...,...,...,...,...,...,...
10512,10515,Distribution of Herring and White Bread during...,http://wikigallery.org/wiki/painting_300071/Ot...,https://kuleuven-datathon-2023.s3.eu-central-1...,The List of painters in the Web Gallery of Art...,615,Otto van Veen,NaN,1629-05-06,NaN
10513,10516,"The Artist Painting, Surrounded by his Family",http://wikigallery.org/wiki/painting_300070/Ot...,https://kuleuven-datathon-2023.s3.eu-central-1...,Charles IV of Spain and His Family is an oil-o...,615,Otto van Veen,NaN,1629-05-06,NaN
10514,10517,Hercules seated at the foot of a tree in a lan...,http://wikigallery.org/wiki/painting_285809/Ot...,https://kuleuven-datathon-2023.s3.eu-central-1...,The Italian Renaissance garden was a new style...,615,Otto van Veen,NaN,1629-05-06,NaN
10515,10518,St. Matthew Bringing Back To Life The Son Of T...,http://wikigallery.org/wiki/painting_368500/Ot...,https://kuleuven-datathon-2023.s3.eu-central-1...,Ethiopia is one of the oldest countries in Afr...,615,Otto van Veen,NaN,1629-05-06,NaN
10516,10519,The Four Fathers Of The Church,http://wikigallery.org/wiki/painting_378600/Ot...,https://kuleuven-datathon-2023.s3.eu-central-1...,"The Church Fathers, Early Church Fathers, Chri...",615,Otto van Veen,NaN,1629-05-06,NaN

## country subcategory

In [177]:
dataset_dir='/Users/paulinarocha/PycharmProjects/datachallenge2023/datathlon-GPT/FilesCSVFormat/stratos_files/'
place_artwork = pd.read_csv(dataset_dir+'place_artwork.csv')

In [178]:
artworks_date
place_artwork

,Unnamed: 0,artwork_id,place_id,painting_name,place_name
0,0,0.0,213.0,Cafe Terrace on the Place du Forum,Netherlands
1,1,1.0,213.0,Starry Night,Netherlands
2,2,2.0,213.0,A Digger,Netherlands
3,3,3.0,213.0,A Group of Cottages,Netherlands
4,4,4.0,213.0,A Pair of Shoes,Netherlands
...,...,...,...,...,...
6204,6204,10515.0,217.0,Distribution of Herring and White Bread during...,Dutch Republic
6205,6205,10516.0,217.0,"The Artist Painting, Surrounded by his Family",Dutch Republic
6206,6206,10517.0,217.0,Hercules seated at the foot of a tree in a lan...,Dutch Republic
6207,6207,10518.0,217.0,St. Matthew Bringing Back To Life The Son Of T...,Dutch Republic
6208,6208,10519.0,217.0,The Four Fathers Of The Church,Dutch Republic

In [179]:
place_subcategory = pd.merge(place_artwork,artworks_date[['artwork_id','year']], how= 'left', on='artwork_id')
place_subcategory.shape

(6209, 6)

In [184]:
place_dates= place_subcategory.groupby('place_name').agg({'year':['min','max']})

KeyError: '(year,min)'

In [181]:
place_subcategory = pd.merge(place_subcategory,place_dates, how= 'left', on='place_name')

/var/folders/sr/bvm__4ys3_gbq3c9bdfnwqf80000gn/T/ipykernel_2935/721518361.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  place_subcategory = pd.merge(place_subcategory,place_dates, how= 'left', on='place_name')

In [185]:
place_subcategory.drop_duplicates(subset=['place_name'], keep='first', inplace=True, ignore_index=True)

In [190]:
place_subcategory

,Unnamed: 0,artwork_id,place_id,painting_name,place_name,year,"(year, min)","(year, max)"
0,0,0.0,213.0,Cafe Terrace on the Place du Forum,Netherlands,1878.0,1641.0,1878.0
1,25,25.0,214.0,Two Sisters Aka On The Terrace,France,1866.0,1637.0,1972.0
2,75,75.0,215.0,Mona Lisa Monalisa,Colombia,1957.0,1957.0,1957.0
3,100,100.0,216.0,Women Bathing,Haute-Saône,1849.0,1849.0,1849.0
4,125,150.0,217.0,The Return of the Prodigal Son (detail -4) c. ...,Dutch Republic,1631.0,1631.0,1658.0
...,...,...,...,...,...,...,...,...
140,5943,10037.0,336.0,Neptune and Amymone,Duchy of Savoy,NaN,NaN,NaN
141,6064,10498.0,338.0,Yvonne,Seine-et-Marne,1861.0,1861.0,1861.0
142,6089,10428.0,339.0,Princess Louisa Maria Stuart,France[1],NaN,NaN,NaN
143,6161,10108.0,340.0,Crucifixion,Kingdom of Sicily,NaN,NaN,NaN
144,6186,10283.0,341.0,Crossing of the Red Sea,Italy),NaN,NaN,NaN

In [191]:
place_subcategory.rename({'place_name': 'name'}, axis=1, inplace=True)
place_subcategory.drop(['artwork_id', 'Unnamed: 0', 'painting_name', 'artwork_id', 'year'], axis=1, inplace=True)
#place_subcategory.rename({'(year, min)': 'start_date', '(year, max)': 'end_date'}, axis=1, inplace=True)

In [193]:
place_subcategory['category_id'] = 3

In [195]:
place_subcategory.to_csv('place_subcategory.csv')

## movement subcategory

In [124]:
#movement_subcategory = artworks_date.copy()

In [142]:
event_movements = pd.read_csv(dataset_dir+ 'events_movements.csv')

In [143]:
#movement_subcategory
movements = pd.read_csv(dataset_dir+'Movement.csv')
movements
movement_subcategory = pd.merge(event_movements,movements,how= 'left', left_on= 'Name', right_on='name')

In [151]:
movement_subcategory

,Name,start_date,end_date,caption,movement_id,category_id
0,Baroque,1590,1760,The progression of art celebrating the lives o...,25,4
1,Impressionism,1850,1895,Impressionist art closed the book on classica...,44,4
2,Renaissance,1420,1520,This era continued to focus on the individual ...,12,4
3,Realism,1850,1925,In contrast to the beautiful and deeply emotio...,27,4
4,Romanticism,1790,1850,You can see from the dates that this art era o...,15,4
5,Post-Impressionism,1885,1910,They concentrated on subjective visions and sy...,43,4
6,Symbolism,1890,1920,Artists became preoccupied with the representa...,4,4
7,Orientalism,1720,1900,Orientalism is the imitation or depiction of a...,52,4
8,Neoclassicism,1770,1840,Neoclassicism took inspiration from classic Ro...,23,4
9,Expressionism,1890,1914,Expressionism originated in Germany and is int...,31,4
10,Hudson River School,1825,1875,Movement embodied by a group of landscape pain...,16,4
11,Pre-Raphaelite Brotherhood,1848,1900,The group sought a return to the abundant deta...,1,4
12,Art Nouveau,1890,1910,"The Art Nouveau movement used soft, curved lin...",14,4
13,Mannerism,1520,1600,Relative over-exaggeration characterized the m...,19,4
14,Dutch Golden Age,1588,1672,"Art took on independent directions, developing...",32,4
15,Luminism,1850,1870,Characterized by effects of light in landscape...,30,4
16,Tonalism,1880,1915,Artistic style that emerged in the 1880s when ...,3,4
17,Surrealism,1920,1930,"Surrealism is fundamentally psychoanalytical, ...",40,4
18,Neo-Impressionism,1886,1906,Movement given to the post-impressionist work ...,53,4
19,Animalier,1790,1880,Artistic genre and school of artists who focus...,50,4
20,Gothic,1100,1500,Christianity lay at the heart of the tensions ...,22,4

In [145]:
movement_subcategory.rename({'Start': 'start_date','End': 'end_date', 'Description':'caption', 'id': 'movement_id' }, inplace=True, errors="raise",axis=1)

In [148]:
movement_subcategory.drop(['name','description'],axis =1, inplace=True)

In [150]:
movement_subcategory['category_id'] = 4

In [152]:
movement_subcategory.to_csv('movement_subcategory.csv')

## artist subcategory

In [118]:
artist_subcategory= artworks_date.copy()

In [119]:
artist_subcategory['category_id']= 1
artist_subcategory=pd.merge(artist_subcategory,artists_pictures[['id','url']], how='left', left_on=['artist_id'], right_on=['id'])

In [168]:
artist_subcategory

,artist_id,name,start_date,end_date,category_id,picture_url
0,0,Vincent Van Gogh,1853-03-30,1890-07-29,1,https://kuleuven-datathon-2023.s3.eu-central-1...
1,1,Pierre Auguste Renoir,1841-02-25,1919-12-03,1,https://kuleuven-datathon-2023.s3.eu-central-1...
2,2,Claude Oscar Monet,1840-11-14,1926-12-05,1,https://kuleuven-datathon-2023.s3.eu-central-1...
3,3,Fernando Botero,1932-04-19,NaN,1,https://kuleuven-datathon-2023.s3.eu-central-1...
4,4,Jean-Léon Gérôme,1824-05-11,1904-01-10,1,https://kuleuven-datathon-2023.s3.eu-central-1...
...,...,...,...,...,...,...
605,585,Pierre-Jacques Cazes,NaN,NaN,1,NaN
606,584,Simone Peterzano,NaN,NaN,1,https://kuleuven-datathon-2023.s3.eu-central-1...
607,591,Claude Gillot,NaN,NaN,1,NaN
608,603,Jules Joseph Lefebvre,1836-03-14,1911-02-24,1,https://kuleuven-datathon-2023.s3.eu-central-1...
609,615,Otto van Veen,NaN,1629-05-06,1,https://kuleuven-datathon-2023.s3.eu-central-1...

In [121]:
artist_subcategory.drop(['artwork_id','name_x', 'url_x','image_url','summary','year','id'],axis=1,inplace=True)
artist_subcategory.rename({'url_y': 'picture_url' }, inplace=True, errors="raise",axis=1)

In [165]:
artist_subcategory
artist_subcategory.drop_duplicates(subset=['name'], keep='first', inplace=True, ignore_index=True)

In [171]:
# saving the new dataframe with artworks years
artist_subcategory.to_csv('artist_subcategory2.csv')

## Artwork

In [198]:
dataset_dir='/Users/paulinarocha/PycharmProjects/datachallenge2023/datathlon-GPT/FilesCSVFormat/stratos_files/'
artwork_stratos = pd.read_csv(dataset_dir+'movement_artist_artwork_2.csv')
#artwork_century = pd.read_csv(dataset_dir+'artwork_century.csv')

In [199]:
artwork_stratos

,Unnamed: 0,artist_id,artwork_id,artist_name,painting_name,movement_id,name
0,0,0,0.0,Vincent Van Gogh,Cafe Terrace on the Place du Forum,43.0,Post-Impressionism
1,1,0,1.0,Vincent Van Gogh,Starry Night,43.0,Post-Impressionism
2,2,0,2.0,Vincent Van Gogh,A Digger,43.0,Post-Impressionism
3,3,0,3.0,Vincent Van Gogh,A Group of Cottages,43.0,Post-Impressionism
4,4,0,4.0,Vincent Van Gogh,A Pair of Shoes,43.0,Post-Impressionism
...,...,...,...,...,...,...,...
11929,11929,615,10515.0,Otto van Veen,Distribution of Herring and White Bread during...,NaN,NaN
11930,11930,615,10516.0,Otto van Veen,"The Artist Painting, Surrounded by his Family",NaN,NaN
11931,11931,615,10517.0,Otto van Veen,Hercules seated at the foot of a tree in a lan...,NaN,NaN
11932,11932,615,10518.0,Otto van Veen,St. Matthew Bringing Back To Life The Son Of T...,NaN,NaN
11933,11933,615,10519.0,Otto van Veen,The Four Fathers Of The Church,NaN,NaN

In [200]:
artworks_paulina = artworks_date.copy()

In [202]:
artworks_paulina.drop(['url','start_date', 'end_date'], axis= 1, inplace=True)
artworks_paulina.rename({'name': 'name_artist','name_x': 'name' }, axis= 1, inplace=True)

In [204]:
artworks_paulina.rename({'image_url': 'url'}, axis= 1, inplace= True)

In [205]:
artworks_paulina

,artwork_id,name,url,summary,artist_id,name_artist,year
0,0,Cafe Terrace on the Place du Forum,https://kuleuven-datathon-2023.s3.eu-central-1...,Café Terrace at Night is an 1888 oil painting ...,0,Vincent Van Gogh,1878.0
1,1,Starry Night,https://kuleuven-datathon-2023.s3.eu-central-1...,NaN,0,Vincent Van Gogh,1878.0
2,2,A Digger,https://kuleuven-datathon-2023.s3.eu-central-1...,NaN,0,Vincent Van Gogh,1878.0
3,3,A Group of Cottages,https://kuleuven-datathon-2023.s3.eu-central-1...,Stoneywell is a National Trust property in Ulv...,0,Vincent Van Gogh,1878.0
4,4,A Pair of Shoes,https://kuleuven-datathon-2023.s3.eu-central-1...,Toms (stylized as TOMS) is a for-profit compan...,0,Vincent Van Gogh,1878.0
...,...,...,...,...,...,...,...
10512,10515,Distribution of Herring and White Bread during...,https://kuleuven-datathon-2023.s3.eu-central-1...,The List of painters in the Web Gallery of Art...,615,Otto van Veen,NaN
10513,10516,"The Artist Painting, Surrounded by his Family",https://kuleuven-datathon-2023.s3.eu-central-1...,Charles IV of Spain and His Family is an oil-o...,615,Otto van Veen,NaN
10514,10517,Hercules seated at the foot of a tree in a lan...,https://kuleuven-datathon-2023.s3.eu-central-1...,The Italian Renaissance garden was a new style...,615,Otto van Veen,NaN
10515,10518,St. Matthew Bringing Back To Life The Son Of T...,https://kuleuven-datathon-2023.s3.eu-central-1...,Ethiopia is one of the oldest countries in Afr...,615,Otto van Veen,NaN
10516,10519,The Four Fathers Of The Church,https://kuleuven-datathon-2023.s3.eu-central-1...,"The Church Fathers, Early Church Fathers, Chri...",615,Otto van Veen,NaN

In [206]:
dataset_dir='/Users/paulinarocha/PycharmProjects/datachallenge2023/datathlon-GPT/FilesCSVFormat/stratos_files/'
place_artwork = pd.read_csv(dataset_dir+'place_artwork.csv')

In [208]:
artworks_paulina = pd.merge(artworks_paulina, place_artwork, how= 'left', on='artwork_id')
#place_artwork

In [210]:
artworks_paulina.drop(['Unnamed: 0','painting_name'], axis=1, inplace=True)

In [212]:
artworks_paulina.rename({'place_name':'location'}, axis= True, inplace=True)

In [213]:
artworks_paulina

,artwork_id,name,url,summary,artist_id,name_artist,year,place_id,location
0,0,Cafe Terrace on the Place du Forum,https://kuleuven-datathon-2023.s3.eu-central-1...,Café Terrace at Night is an 1888 oil painting ...,0,Vincent Van Gogh,1878.0,213.0,Netherlands
1,1,Starry Night,https://kuleuven-datathon-2023.s3.eu-central-1...,NaN,0,Vincent Van Gogh,1878.0,213.0,Netherlands
2,2,A Digger,https://kuleuven-datathon-2023.s3.eu-central-1...,NaN,0,Vincent Van Gogh,1878.0,213.0,Netherlands
3,3,A Group of Cottages,https://kuleuven-datathon-2023.s3.eu-central-1...,Stoneywell is a National Trust property in Ulv...,0,Vincent Van Gogh,1878.0,213.0,Netherlands
4,4,A Pair of Shoes,https://kuleuven-datathon-2023.s3.eu-central-1...,Toms (stylized as TOMS) is a for-profit compan...,0,Vincent Van Gogh,1878.0,213.0,Netherlands
...,...,...,...,...,...,...,...,...,...
10512,10515,Distribution of Herring and White Bread during...,https://kuleuven-datathon-2023.s3.eu-central-1...,The List of painters in the Web Gallery of Art...,615,Otto van Veen,NaN,217.0,Dutch Republic
10513,10516,"The Artist Painting, Surrounded by his Family",https://kuleuven-datathon-2023.s3.eu-central-1...,Charles IV of Spain and His Family is an oil-o...,615,Otto van Veen,NaN,217.0,Dutch Republic
10514,10517,Hercules seated at the foot of a tree in a lan...,https://kuleuven-datathon-2023.s3.eu-central-1...,The Italian Renaissance garden was a new style...,615,Otto van Veen,NaN,217.0,Dutch Republic
10515,10518,St. Matthew Bringing Back To Life The Son Of T...,https://kuleuven-datathon-2023.s3.eu-central-1...,Ethiopia is one of the oldest countries in Afr...,615,Otto van Veen,NaN,217.0,Dutch Republic
10516,10519,The Four Fathers Of The Church,https://kuleuven-datathon-2023.s3.eu-central-1...,"The Church Fathers, Early Church Fathers, Chri...",615,Otto van Veen,NaN,217.0,Dutch Republic

In [214]:
artworks_paulina.to_csv('Artworks.csv')

## century

In [227]:
dataset_dir='/Users/paulinarocha/PycharmProjects/datachallenge2023/datathlon-GPT/FilesCSVFormat/stratos_files/'
artwork_century = pd.read_csv(dataset_dir+'artwork_century.csv')

In [228]:
#artwork_century.to_string(columns=['century'])
artwork_century

       Unnamed: 0  artwork_id  century
0               0           0     19.0
1               1           1     19.0
2               2           2     19.0
3               3           3     19.0
4               4           4     19.0
...           ...         ...      ...
10512       10512       10515      NaN
10513       10513       10516      NaN
10514       10514       10517      NaN
10515       10515       10518      NaN
10516       10516       10519      NaN

[10517 rows x 3 columns]

In [237]:
def start_century(century):
    try:
        if century != np.nan:
            start =str(int((century-1)*100))
            #year = date_string[0:4]
            #month = int(date_string[5:7])
            #day = int(date_string[8:10])
            return start + '-00-00'
        else:
            return century

    except:
        return century

artwork_century['start_date'] = artwork_century['century'].apply(lambda x: start_century(x))

In [239]:
def end_century(century):
    try:
        if century != np.nan:
            end =str(int((century)*100))
            #year = date_string[0:4]
            #month = int(date_string[5:7])
            #day = int(date_string[8:10])
            return end + '-00-00'
        else:
            return century

    except:
        return century

artwork_century['end_date'] = artwork_century['century'].apply(lambda x: end_century(x))

In [241]:
artwork_century['category_id'] = 2

In [246]:
artwork_century

       Unnamed: 0  artwork_id  century  start_date    end_date  category_id
0               0           0     19.0  1800-00-00  1900-00-00            2
1               1           1     19.0  1800-00-00  1900-00-00            2
2               2           2     19.0  1800-00-00  1900-00-00            2
3               3           3     19.0  1800-00-00  1900-00-00            2
4               4           4     19.0  1800-00-00  1900-00-00            2
...           ...         ...      ...         ...         ...          ...
10512       10512       10515      NaN         NaN         NaN            2
10513       10513       10516      NaN         NaN         NaN            2
10514       10514       10517      NaN         NaN         NaN            2
10515       10515       10518      NaN         NaN         NaN            2
10516       10516       10519      NaN         NaN         NaN            2

[10517 rows x 6 columns]

In [249]:
#artist_subcategory.drop_duplicates(subset=['century'], keep='first', inplace=True, ignore_index=True)