In [1]:
# !pip install folium
# !pip install python-dotenv
import folium
import numpy as np
import pandas as pd
import os
import plotly.graph_objects as go
import plotly.express as px

# from sqlalchemy import select, text, and_, or_
# from sqlalchemy.sql import Select

import sys
sys.path.append("/home/stratos/Documents/datathlon-GPT-main")
# from environment.settings import config

# dataset_dir = config['DATASET_DIR']
dataset_dir='../data/'
# database_dir = config['DATABASE_DIR']

# from utils import connections
# from utils import database

In [3]:
Academy = pd.read_csv(dataset_dir+'Academy.csv')
Apprenticeship = pd.read_csv(dataset_dir+'Apprenticeship.csv')
Artist = pd.read_csv(dataset_dir+'Artist.csv')
ArtistEducation = pd.read_csv(dataset_dir+'ArtistEducation.csv')
ArtistMovement = pd.read_csv(dataset_dir+'ArtistMovements.csv')
ArtistPictures = pd.read_csv(dataset_dir+'ArtistPicture.csv')
ArtistSpecialization = pd.read_csv(dataset_dir+'ArtistSpecializations.csv')
Artwork = pd.read_csv(dataset_dir+'Artwork.csv')
Generated = pd.read_csv(dataset_dir+'Generated.csv')
Medium = pd.read_csv(dataset_dir+'Medium.csv')
Movement = pd.read_csv(dataset_dir+'Movement.csv')
Place = pd.read_csv(dataset_dir+'Places.csv')
Recommendation = pd.read_csv(dataset_dir+'Recommendation.csv')
Specialization = pd.read_csv(dataset_dir+'specialization.csv')

In [4]:
ArtistMovement

     artist_id  movement_id
0          0.0         43.0
1          1.0         44.0
2          2.0         44.0
3          4.0         10.0
4          4.0         52.0
..         ...          ...
250      604.0         10.0
251      606.0          4.0
252      609.0         12.0
253      610.0         12.0
254      611.0         25.0

[255 rows x 2 columns]

In [5]:
df = Artist[['id','birthplace','name']].dropna(subset=['birthplace'])
df = pd.merge(df, Artwork, how='inner', left_on = 'id', right_on = 'artist')
df = df[['id_x','id_y','birthplace','name_x','name_y']]
df.rename(columns={"id_x": "artist_id", "id_y": "artwork_id", "birthplace": "place_id",
                  "name_x":"artist_name", "name_y":"painting_name"}, inplace=True)
df = pd.merge(df, Place, how='inner', left_on = 'place_id', right_on = 'id')
df.drop(['parent','id'], axis=1, inplace=True)
df.rename(columns={"name": "place_name"}, inplace=True)
place_artist_artwork = df
place_artist_artwork

,artist_id,artwork_id,place_id,artist_name,painting_name,place_name
0,0,0,0.0,Vincent Van Gogh,Cafe Terrace on the Place du Forum,Zundert
1,0,1,0.0,Vincent Van Gogh,Starry Night,Zundert
2,0,2,0.0,Vincent Van Gogh,A Digger,Zundert
3,0,3,0.0,Vincent Van Gogh,A Group of Cottages,Zundert
4,0,4,0.0,Vincent Van Gogh,A Pair of Shoes,Zundert
...,...,...,...,...,...,...
6198,610,10292,212.0,Cosimo Rosselli,St Barbara between SS John the Bapist and Matthew,Republic of Florence (present-day Tuscany
6199,610,10293,212.0,Cosimo Rosselli,Madonna and Child with Angels,Republic of Florence (present-day Tuscany
6200,610,10294,212.0,Cosimo Rosselli,"Portrait Of A Gentleman, Said To Be Francesco ...",Republic of Florence (present-day Tuscany
6201,610,10295,212.0,Cosimo Rosselli,The Risen Christ with the Instruments of the P...,Republic of Florence (present-day Tuscany
6202,610,10296,212.0,Cosimo Rosselli,Portrait of a Man ca 1481,Republic of Florence (present-day Tuscany

In [6]:
df = pd.merge(Artist, Artwork, how='inner', left_on = 'id', right_on = 'artist')
df = df[['id_x','id_y','name_x','name_y']]
df.rename(columns={"id_x": "artist_id", "id_y": "artwork_id",
                  "name_x":"artist_name", "name_y":"painting_name"}, inplace=True)
df = pd.merge(df, ArtistMovement, how='inner', left_on = 'artist_id', right_on = 'artist_id')
df = pd.merge(df, Movement, how='inner', left_on = 'movement_id', right_on = 'id')
df.drop(['description','id'], axis=1, inplace=True)
movement_artist_artwork = df
movement_artist_artwork

,artist_id,artwork_id,artist_name,painting_name,movement_id,name
0,0,0,Vincent Van Gogh,Cafe Terrace on the Place du Forum,43.0,Post-Impressionism
1,0,1,Vincent Van Gogh,Starry Night,43.0,Post-Impressionism
2,0,2,Vincent Van Gogh,A Digger,43.0,Post-Impressionism
3,0,3,Vincent Van Gogh,A Group of Cottages,43.0,Post-Impressionism
4,0,4,Vincent Van Gogh,A Pair of Shoes,43.0,Post-Impressionism
...,...,...,...,...,...,...
5468,544,9504,Pierre Bonnard,Ice Palace,5.0,Intimism
5469,544,9505,Pierre Bonnard,La Place Clichy,5.0,Intimism
5470,544,9506,Pierre Bonnard,Landing Stage,5.0,Intimism
5471,544,9507,Pierre Bonnard,Misia,5.0,Intimism
5472,544,9508,Pierre Bonnard,The Terraces,5.0,Intimism