In [1]:
# !pip install folium
# !pip install python-dotenv
import folium
import numpy as np
import pandas as pd
import os
import plotly.graph_objects as go
import plotly.express as px


import sys
sys.path.append("/home/stratos/Documents/datathlon-GPT-main")
# from environment.settings import config

# dataset_dir = config['DATASET_DIR']
dataset_dir='../data/'
# database_dir = config['DATABASE_DIR']

In [80]:
Academy = pd.read_csv(dataset_dir+'Academy.csv')
Apprenticeship = pd.read_csv(dataset_dir+'Apprenticeship.csv')
Artist = pd.read_csv(dataset_dir+'Artist.csv')
ArtistEducation = pd.read_csv(dataset_dir+'ArtistEducation.csv')
ArtistMovement = pd.read_csv(dataset_dir+'ArtistMovements.csv')
ArtistPictures = pd.read_csv(dataset_dir+'ArtistPicture.csv')
ArtistSpecialization = pd.read_csv(dataset_dir+'ArtistSpecializations.csv')
Artwork = pd.read_csv(dataset_dir+'Artwork.csv')
Generated = pd.read_csv(dataset_dir+'Generated.csv')
Medium = pd.read_csv(dataset_dir+'Medium.csv')
Movement = pd.read_csv(dataset_dir+'Movement.csv')
Place = pd.read_csv(dataset_dir+'Places.csv')
Recommendation = pd.read_csv(dataset_dir+'Recommendation.csv')
Specialization = pd.read_csv(dataset_dir+'specialization.csv')

artworks_date = pd.read_csv(dataset_dir+'artworks_date.csv')

In [107]:
Artwork.loc[Artwork['id']==6677]['image_url']

6675    https://kuleuven-datathon-2023.s3.eu-central-1...
Name: image_url, dtype: object

place_artwork

In [102]:
df = Artist[['id','birthplace','name']].dropna(subset=['birthplace'])
df = pd.merge(df, Artwork, how='left', left_on = 'id', right_on = 'artist')
df = df[['id_x','id_y','birthplace','name_x','name_y']]
df.rename(columns={"id_y": "artwork_id", "birthplace": "place_id"
                   , "name_y":"painting_name"}, inplace=True)
df = pd.merge(df, Place, how='left', left_on = 'place_id', right_on = 'id')
df.drop(['id','name_x','id_x'], axis=1, inplace=True)
df.rename(columns={"name": "place_name"}, inplace=True)
for i, row in df.iterrows():
    if not pd.isna(row['parent']):
        df.at[i,'place_name'] = Place.loc[Place['id']==row['parent']]['name'].item()
        df.at[i,'place_id'] = Place.loc[Place['id']==row['parent']]['id'].item()
df.drop(['parent'], axis=1, inplace=True)
place_artwork = df
place_artwork
# place_artwork.to_csv('./place_artwork.csv')

,artwork_id,place_id,painting_name,place_name
0,0.0,213.0,Cafe Terrace on the Place du Forum,Netherlands
1,1.0,213.0,Starry Night,Netherlands
2,2.0,213.0,A Digger,Netherlands
3,3.0,213.0,A Group of Cottages,Netherlands
4,4.0,213.0,A Pair of Shoes,Netherlands
...,...,...,...,...
6204,10515.0,217.0,Distribution of Herring and White Bread during...,Dutch Republic
6205,10516.0,217.0,"The Artist Painting, Surrounded by his Family",Dutch Republic
6206,10517.0,217.0,Hercules seated at the foot of a tree in a lan...,Dutch Republic
6207,10518.0,217.0,St. Matthew Bringing Back To Life The Son Of T...,Dutch Republic
6208,10519.0,217.0,The Four Fathers Of The Church,Dutch Republic

movement_artist_artwork

In [65]:
df = pd.merge(Artist, Artwork, how='left', left_on = 'id', right_on = 'artist')
df = df[['id_x','id_y','name_x','name_y']]
df.rename(columns={"id_x": "artist_id", "id_y": "artwork_id",
                  "name_x":"artist_name", "name_y":"painting_name"}, inplace=True)
df = pd.merge(df, ArtistMovement, how='left', left_on = 'artist_id', right_on = 'artist_id')
df = pd.merge(df, Movement, how='left', left_on = 'movement_id', right_on = 'id')
df.drop(['description','id'], axis=1, inplace=True)
movement_artist_artwork = df
movement_artist_artwork
movement_artist_artwork.to_csv('./movement_artist_artwork.csv')

artwork_century

In [101]:
df = artworks_date
df['century'] = ''
df['century'] = df['year'].apply(lambda year: (year // 100) + 1)
df = df.loc[:, ['id_artwork', 'century']]
df.rename(columns={"id_artwork": "artwork_id"}, inplace=True)
artwork_century = df 
artwork_century.to_csv('./artwork_century.csv')